$color-background: #FFFFFF;

$color-navbar-selected:rgba(255, 255, 255, 1);
$color-navbar-not-selected: rgba(83, 83, 83, 1);
$color-background-selected: rgba(119, 126, 255, 1);
$color-letter: rgba(81, 92, 245, 1);

$color-shadow: rgba(0, 0, 0, 0.25);

$color-red: rgba(238, 32, 77, 1);
$color-subject: rgba(243, 246, 255, 1);
$color-content: rgba(248, 248, 251, 1);

$color-border: rgba(158, 165, 255, 1);

$color-deferred: rgba(255, 246, 220, 1);
$color-accepted: rgba(243, 255, 235, 1);
$color-rejected: rgba(255, 207, 206, 1);

$color-button: rgba(64, 57, 52, 1);
$color-count: rgba(158, 29, 26, 1);
$color-search: rgba(236, 236, 236, 1);

$color-group: rgba(235, 239, 255, 1);

$color-fon: rgba(242, 243, 255, 1);

$color-c: rgba(95, 191, 212, 1);
$color-course: rgba(144, 144, 147, 1);
$color-text-content: rgba(131, 131, 131, 1);
$color-data1: rgba(177, 178, 188, 1);
$color-border2: rgba(222, 222, 222, 1);

$color-percent: rgba(121, 210, 137, 1);
