$color-background: #FFFFFF;

$color-navbar-selected:rgba(255, 255, 255, 1);
$color-navbar-not-selected: rgba(83, 83, 83, 1);
$color-background-selected: rgba(119, 126, 255, 1);
$color-letter: rgba(81, 92, 245, 1);

$color-shadow: rgba(0, 0, 0, 0.25);

$color-red: rgba(238, 32, 77, 1);
$color-subject: rgba(243, 246, 255, 1);
$color-content: rgba(248, 248, 251, 1);

$color-border: rgba(158, 165, 255, 1);