$color-topbar-not-selected: #535353;
$color-topbar-selected: #FFFFFF;
$color-wrap-topbar-selected: #777EFF;
$color-back: #FFFFFF;
$color-icon-back: #FFFFFF;
$color-icon-typography: #515CF5;
$color-shadow: rgba(0, 0, 0, 0.3);

$color-request-back: #E9EAFF;
$color-request-deadline-back: #FFCFBA;
$color-request-icon-back: #FFFFFF;
$color-request-name: #535353;
$color-number: #0C202A;
$color-work: #535353;
$color-course: #656565;
$color-request-text: #838383;
$color-request-data: #656565;

$color-request-panel-card-text: #403934;
$color-request-panel-card: #FFF6DC;
$color-subject-stroke: #535353;
$color-request-panel: #F3F6FF;
$color-subject: #FFFFFF;
