.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 230px;
  padding-top: 0px;
}

.prevMonth, .nextMonth {
  cursor: pointer;
  padding: 5px;
}

.date {
  flex: 1;
  text-align: center;
}

.calendarContent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.calendarContent.open {
  display: block;
}

.empty {
  background-color: #eee;
}

.day {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.img1 {
  width: 14px;
  height: 12px;
}

.img {
  width: 20px;
  height: 20px;
}

.button {
  width: 40px;
  height: 40px;
  background: url('./src/assets/calendar.png') center/contain no-repeat;
}

