@import 'src/styles';

.wrap {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 157px;
    height: 38px;
    border: 1px solid #9EA5FF;
    border-radius: 6px;
    padding: 0 15px;
    background-color: $color-subject;

    &:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    .text{

        color: $color-subject-stroke;
        font-size: 17px;
        font-weight: 500;  
        margin-right: auto; 
    }

    // .icon{

    //     width: 17px;
    //     height: 9px;
    //     margin-bottom: 10px;
    // }
}
